<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=z, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <% include public/header.ejs %>
    <p>这是一个ejs的模板引擎</p>
    <%=title%>
    <br>    
    <h2>公共信息</h2>
    <%=username%>
</body>
</html>